.vspace
%h3
  %span{:style => "color: blue;"}
    %ins Computing II
%div
  Instructor: Chike Abuah
%div
  Office Hours (Rm 306): Tue 10:30 - 11:30, Thu 1:30 - 2:30 
%div
  Email: abuahchu at gmail dot com 
.vspace
.vspace
%h3
  %span{:style => "color: blue;"}
    %ins Catalog Description
%p
  Computing II focuses on the implementation and applications of data structures, including arrays, linked lists, stacks, queues, trees, binary trees, binary search trees, heaps, graphs, and hash tables. Recursive approaches are used. Performance analysis is discussed. Attention is paid to programming style, documentation, and testing. This course includes extensive laboratory work. Effective Fall 2013, Co-req: Computing II Lab.
.vspace
%h3
  %span{:style => "color: blue;"}
    %ins Course Prerequisites
%p
  COMP.1010 Computing I and COMP.1030 Computing I Lab.
.vspace
%h3
  %span{:style => "color: blue;"}
    %ins Required Textbook
%p
  Algorithms in C, Parts 1-5: Fundamentals, Data Structures, Sorting, Searching, and Graph Algorithms 3rd edition, Robert Sedgewick
.vspace
%h3
  %span{:style => "color: blue;"}
    %ins Supplementary Textbook
%ul
  %li
    Data Structures An Advanced Approach Using C, Esakov and Weiss
  %li
    Data Structures and Program Design in C, Second Edition by Kruse, Tondo and Leung.
.vspace
%h3
  %span{:style => "color: blue;"}
    %ins ABET Student Outcomes
%ol
  %li
    An ability to apply knowledge of computing and mathematics appropriate to the discipline.
  %li
    An ability to analyze a problem, and identify and define the computing requirements appropriate to its solution.
  %li
    An ability to use current techniques, skills, and tools necessary for computing practice.
  %li
    An ability to apply design and development principles in the construction of software systems of varying complexity.
.vspace
%h3
  %span{:style => "color: blue;"}
    %ins Learning Outcomes
%p
  By the end of this course, students will be able to:
%ul
  %li
    Use command line prompt to compile and debug their code
  %li
    Develop an understanding about the different types of data structures and how to use them, including linked list, stacks, queues, trees, graphs, and hash tables
  %li
    Design and write C programs to implement the different data structures
  %li
    Employ testing in their program implementation
  %li
    Use valgrind tool to detect memory leaks
  %li
    Create Make files
.vspace
%h3
  %span{:style => "color: blue;"}
    %ins Grading
%ul
  %li
    %span{:style => "color: blue;"} 75% of total grade:
    %ul
      %li
        40% Programming Assignments
      %li
        30% 2 Midterm exams
      %li
        20% Final Exam
      %li
        10% Attendance
      %li
        5%
        %em Extra points Pop Quizzes
    .vspace
  %li
    %span{:style => "color: blue;"} 25% of total grade:
    %ul
      %li
        Lab exercises
.vspace
%h3
  %span{:style => "color: blue;"}
    %ins Course Policies
%h4
  %span{:style => "color: blue;"} Lectures
%p
  You are responsible for all materials presented in lecture.
%h4
  %span{:style => "color: blue;"} Collaboration
%ul
  %li
    There are no group assignments in this course. The programs are expected to be your own. You may discuss assignments and general approaches to solve a problem with the instructor, Teaching assistants, or your classmates. However, you must design and write your code by yourself. You could ask the instructor or teaching assistants for help in debugging your code.
  %li
    You cannot post any solutions for the assignments online.
  %li
    Any piece of code that was obtained through other means, e.g., interent or books, must be clearly cited.
  %li
    Any attempts to use other classmates’ code or failing to properly cite any obtained code will be considered as PLAGIARISM. Check the university
    %a.urllink{:href => "https://www.uml.edu/Catalog/Undergraduate/Policies/Academic-Policies/Academic-Integrity.aspx", :rel => "nofollow"} academic integrity rules
    for more information.
.vspace
%h3
  %span{:style => "color: blue;"}
    %ins Course Schedule
%p
  %span{:style => "color: blue;"}
    %ins Tentative Schedule
%p.vspace
  This is a tentative schedule and subject to change. Please check frequently.
.vspace{ :style => "height: 250px;"}
  %table{:align => "left", :border => "1", :cellpadding => "5", :style => "border-collapse:collapse", :width => "75%"}
    %tr
      %th{:align => "center"}
        %span{:style => "color: blue;"} Week
      %th{:align => "center"}
        %span{:style => "color: blue;"} Topic
    %tr
      %th{:align => "left"} 1 
      %th Introduction, C Review, Vectors, Linked Lists
    %tr
      %th{:align => "left"} 2 
      %th{:align => "center"} Stacks; Queues; Binary Trees, Heaps, AVL-Trees
    %tr
      %th{:align => "left"} 3 
      %th
        %span{:style => "color: blue;"}
          %ins Midterm1
        %span{:style => "color: black;"} Associative Arrays
    %tr
      %th{:align => "left"} 4 
      %th Graphs
    %tr
      %th{:align => "left"} 5 
      %th
        %span{:style => "color: blue;"}
          %ins Midterm2
        %span{:style => "color: black;"} Searching, symbol table, Binary search trees, and hashing
    %tr
      %th{:align => "left"} 6 
      %th{:align => "center"} Sorting, heap, and priority queues
    %tr
      %th{:align => "left"} 7 
      %th
        %span{:style => "color: blue;"}
          %ins Final Exam
        %span{:style => "color: black;"} Sorting, heap, and priority queues.

.vspace
  %h3
    %span{:style => "color: blue;"}
      %ins Assignments
  %ul
    %li
      %a{href: "https://docs.google.com/document/d/1z8rQ4STtiqpuzS4oi0rla7_JNfmQR2G5Bmn6JkjZjCU/edit?usp=sharing", target: "_blank"} A1
    %li
      %a{href: "https://docs.google.com/document/d/1BTT4rc9CalHOZLN3M1iAX7dJ7aB9OCN_yYkyx9mcQA8/edit?usp=sharing", target: "_blank"} A2
    %li
      %a{href: "https://docs.google.com/document/d/114pEWC5VweLzxkjpgsK69i_eFgZExrpAUafo_CNx0FM/edit?usp=sharing", target: "_blank"} A3
    
  .vspace

.vspace
  %h3
    %span{:style => "color: blue;"}
      %ins Labs
  %ul
    %li
      %a{href: "https://docs.google.com/document/d/1FcsKF_gu0M1yQ8se7PPtLFA-Etk_7IkZw57daDqqsi0/edit?usp=sharing", target: "_blank"} L1
    %li
      %a{href: "https://docs.google.com/document/d/1R4dVWrwZY60WvVEdngNY9GQT9pIDEBc1dJlVQfOzpPU/edit?usp=sharing", target: "_blank"} L2
    %li
      %a{href: "https://docs.google.com/document/d/1PzIvESQ3KuO8-27Z0LyCCEyeLZobQo-F-udSP_dLHiU/edit?usp=sharing", target: "_blank"} L3

    
.vspace
  %h3
    %span{:style => "color: blue;"}
      %ins Code
  %ul
    %li
      %a{href: "https://github.com/chikeabuah/teaching/blob/master/C/struct_pointers1.c", target: "_blank"} C1 - struct pointers
    %li
      %a{href: "https://github.com/chikeabuah/teaching/blob/master/C/struct_pointers2.c", target: "_blank"} C2 - struct pointers
    %li
      %a{href: "https://github.com/chikeabuah/teaching/blob/master/C/struct_pointers3.c", target: "_blank"} C3 - struct pointers
    %li
      %a{href: "https://github.com/chikeabuah/teaching/tree/master/C/encapsulation", target: "_blank"} C4 - Encapsulation
    %li
      %a{href: "https://github.com/chikeabuah/teaching/tree/master/C/integer_vector", target: "_blank"} C5 - Integer Vector

.vspace
  %h3
    %span{:style => "color: blue;"}
      %ins Acknowledgements
  %p
    The course and website content are largely borrowed from Dr. Yelena Rykalova and Dr. David Adams


    