.vspace
%h3
  %span{:style => "color: blue;"}
    %ins Catalog Description
%p
  Computing II focuses on the implementation and applications of data structures, including arrays, linked lists, stacks, queues, trees, binary trees, binary search trees, heaps, graphs, and hash tables. Recursive approaches are used. Performance analysis is discussed. Attention is paid to programming style, documentation, and testing. This course includes extensive laboratory work. Effective Fall 2013, Co-req: Computing II Lab.
.vspace
%h3
  %span{:style => "color: blue;"}
    %ins Course Prerequisites
%p
  COMP.1010 Computing I and COMP.1030 Computing I Lab.
.vspace
%h3
  %span{:style => "color: blue;"}
    %ins Required Textbook
%p
  Algorithms in C, Parts 1-5: Fundamentals, Data Structures, Sorting, Searching, and Graph Algorithms 3rd edition, Robert Sedgewick
.vspace
%h3
  %span{:style => "color: blue;"}
    %ins Supplementary Textbook
%ul
  %li
    Data Structures An Advanced Approach Using C, Esakov and Weiss
  %li
    Data Structures and Program Design in C, Second Edition by Kruse, Tondo and Leung.
.vspace
%h3
  %span{:style => "color: blue;"}
    %ins ABET Student Outcomes
%ol
  %li
    An ability to apply knowledge of computing and mathematics appropriate to the discipline.
  %li
    An ability to analyze a problem, and identify and define the computing requirements appropriate to its solution.
  %li
    An ability to use current techniques, skills, and tools necessary for computing practice.
  %li
    An ability to apply design and development principles in the construction of software systems of varying complexity.
.vspace
%h3
  %span{:style => "color: blue;"}
    %ins Learning Outcomes
%p
  By the end of this course, students will be able to:
%ul
  %li
    Use command line prompt to compile and debug their code
  %li
    Develop an understanding about the different types of data structures and how to use them, including linked list, stacks, queues, trees, graphs, and hash tables
  %li
    Design and write C programs to implement the different data structures
  %li
    Employ testing in their program implementation
  %li
    Use valgrind tool to detect memory leaks
  %li
    Create Make files
.vspace
%h3
  %span{:style => "color: blue;"}
    %ins Grading
%ul
  %li
    %span{:style => "color: blue;"} 75% of total grade:
    %ul
      %li
        50% Programming Assignments
      %li
        30% 2 Midterm exams
      %li
        20% Final Exam
      %li
        5%
        %em Extra points Pop Quizzes
    .vspace
  %li
    %span{:style => "color: blue;"} 25% of total grade:
    %ul
      %li
        Lab exercises
.vspace
%h3
  %span{:style => "color: blue;"}
    %ins Course Policies
%h4
  %span{:style => "color: blue;"} Lectures
%p
  You are responsible for all materials presented in lecture.
%h4
  %span{:style => "color: blue;"} Collaboration
%ul
  %li
    There are no group assignments in this course. The programs are expected to be your own. You may discuss assignments and general approaches to solve a problem with the instructor, Teaching assistants, or your classmates. However, you must design and write your code by yourself. You could ask the instructor or teaching assistants for help in debugging your code.
  %li
    You cannot post any solutions for the assignments online.
  %li
    Any piece of code that was obtained through other means, e.g., interent or books, must be clearly cited.
  %li
    Any attempts to use other classmates’ code or failing to properly cite any obtained code will be considered as PLAGIARISM. Check the university
    %a.urllink{:href => "https://www.uml.edu/Catalog/Undergraduate/Policies/Academic-Policies/Academic-Integrity.aspx", :rel => "nofollow"} academic integrity rules
    for more information.
.vspace
%h3
  %span{:style => "color: blue;"}
    %ins Course Schedule
%p
  %span{:style => "color: blue;"}
    %ins Tentative Schedule
%p.vspace
  This is a tentative schedule and subject to change. Please check frequently.
.vspace{ :style => "height: 480px;"}
  %table{:align => "left", :border => "1", :cellpadding => "5", :style => "border-collapse:collapse", :width => "75%"}
    %tr
      %th{:align => "center"}
        %span{:style => "color: blue;"} Week
      %th{:align => "center"}
        %span{:style => "color: blue;"} Topic
    %tr
      %th{:align => "left"} 1 (Jan. 17)
      %th Introduction, c review, and introduction to software engineering
    %tr
      %th{:align => "left"} 2 (Jan. 23)
      %th{:align => "center"} Vectors
    %tr
      %th{:align => "left"} 3 (Jan. 30)
      %th{:align => "center"} Type Independent Vectors; Linked Lists
    %tr
      %th{:align => "left"} 4 (Feb. 6)
      %th Linked Lists
    %tr
      %th{:align => "left"} 5 (Feb. 13)
      %th{:align => "center"} Type Independent Stack; Queues
    %tr
      %th{:align => "left"} 6 (Feb. 21)
      %th{:align => "center"} Recursion,Queues, Trees, Heaps, AVL-Trees
    %tr
      %th{:align => "left"} 7 (Feb. 27)
      %th
        %span{:style => "color: blue;"}
          %ins Midterm1
        %span{:style => "color: black;"} Toward Building an Associative Array
    %tr
      %th{:align => "left"} 8 (Mar. 6)
      %th{:align => "center"} Binary Trees, AVL trees
    %tr
      %th{:align => "left"} 9 (Mar. 13)
      %th{:align => "center"}
        %span{:style => "color: blue;"} Spring break
    %tr
      %th{:align => "left"} 10 (Mar. 20)
      %th Graphs
    %tr
      %th{:align => "left"} 11 (Mar. 27)
      %th
        %span{:style => "color: blue;"}
          %ins Midterm2 (Mar.27)
        %span{:style => "color: black;"} Searching, symbol table, Binary search trees, and hashing
    %tr
      %th{:align => "left"} 12 (Apr. 3)
      %th{:align => "center"} Searching, symbol table, Binary search trees, and hashing
    %tr
      %th{:align => "left"} 13 (Apr. 10)
      %th{:align => "center"} Searching, symbol table,Binary search trees, and hashing
    %tr
      %th{:align => "left"} 14 (Apr. 17)
      %th{:align => "center"} Sorting, heap, and priority queues
    %tr
      %th{:align => "left"} 15 (Apr. 24)
      %th Sorting, heap, and priority queues. Exam review


.vspace
  %h3
    %span{:style => "color: blue;"}
      %ins Acknowledgements
  %p
    The course and website content are largely borrowed from Dr. Yelena Rykalova and Dr. David Adams